<header>
  <nav>
    <ul class="nav nav-tabs nav-justified">
      <li><a href="/">Home</a></li>
      <li><a href="/songs">Songs</a></li>
      <% if @current_user %>
        <li><a>Currently logged in as <%=cookies[:email] %></a></li>
        <li><a href="/logout">Logout</a></li>
      <% else %>
        <li><a href="/login">Login or Signup</a></li>
      <% end %>
    </ul>
  </nav>
</header>

<div class="container">
  <h1>All songs</h1>

  <p><a href="/songs/new">Add a new song</a></p>

  <table class="table">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>URL</th>
      <th>Votes</th>
      <th>Upvote</th>
    </tr>
    <% @songs.sort { |a,b| b.votes.count <=> a.votes.count }.each do |song| %>
      <tr>
        <td><a href="songs/<%= song.id %>"><%= song.title %></a></td>
        <td> <%= song.author%></td>
        <td><% if song.url %> 
                <a href="<%=song.url %>">link</a>
              <% end %>
        <td><%=song.votes.count %></td>
        <% if @current_user
            if
            Vote.where(user_id: @current_user.id).where(song_id: song.id).empty? %>
            <td><a href="/upvote?song=<%= song.id%>"><button>Upvote</button></a></td>
            <% end %>
          <% end %>
      </tr>
    <% end %>
  </table>

</div>