<div class="container">
  <h1>All songs</h1>

  <p><a href="/songs/new">Add a new song</a></p>

  <table class="table text-center">
    <tr>
      <th class="text-center">Title</th>
      <th class="text-center">Author</th>
      <th class="text-center">User</th>
      <th class="text-center">URL</th>
      <th class="text-center">Votes</th>
      <th class="text-center">Upvote</th>
    </tr>
    <% @songs.sort { |a,b| b.votes.count <=> a.votes.count }.each do |song| %>
      <tr>
        <td><a href="songs/<%= song.id %>"><%= song.title %></a></td>
        <td> <%= song.author%></td>
        <td> <%= song.user.try(:email)%></td>
        <td><% if song.url %> 
                <a href="<%=song.url %>">link</a>
              <% end %>
        <td><%=song.votes.count %></td>
        <td><% if logged_in?
          if
          Vote.where(user_id: current_user.id).where(song_id: song.id).empty? %>
          <a href="/upvote?song=<%= song.id%>"><button>Upvote</button></a>
          <% end %>
        <% else %><button class="btn btn-primary disabled">Must be logged in to upvote</button>
        <% end %></td>
      </tr>
    <% end %>
  </table>

</div>