<header>
  <nav>
    <ul class="nav nav-tabs nav-justified">
      <li><a href="/">Home</a></li>
      <li><a href="/songs">Songs</a></li>
      <% if cookies[:email] %>
        <li><a>Currently logged in as <%=cookies[:email] %></a></li>
        <li><a href="/logout">Logout</a></li>
      <% else %>
        <li><a href="/login">Login or Signup</a></li>
      <% end %>
    </ul>
  </nav>
</header>

<h1><%= @song.title %></h1>

<p>
  Author: <%= @song.author %>
</p>

<p>
  Posted at: <%= @song.created_at %>
</p>

<hr/>
<a href="/songs">Back to all songs</a>

<h2>Other songs from this author</h2>
<p>
<ul>
<% Song.where.not(id: @song.id).where(author: @song.author).each do |result| %>
  <li> <%= result.title %> </li>
  <% end %>
</p>
