<h1><%= @song.title %></h1>

<p>
  Author: <%= @song.author %>
</p>

<p>
  Posted at: <%= @song.created_at %>
</p>

<% if @song.user %><p>
  Posted by: <%= @song.user.email %>
</p><% end %>

<% if logged_in? && Review.where(user_id: current_user.id).where(song_id: @song.id).empty?%>
  <h3>Post a review</h3>
  <form method="post" action="/add_review?song=<%= @song.id%>">
    <div class="form-group">
      <textarea class="form-control" id="review" name="content" rows="3"></textarea>
    </div>
    <!-- <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Rating <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/add_review?song=<%= @song.id%>;score=1">1</a></li>
        <li><a href="/add_review?song=<%= @song.id%>;score=2">2</a></li>
        <li><a href="/add_review?song=<%= @song.id%>;score=3">3</a></li>
        <li><a href="/add_review?song=<%= @song.id%>;score=4">4</a></li>
        <li><a href="/add_review?song=<%= @song.id%>;score=5">5</a></li>
      </ul>
    </div> -->
    <div><label>Rating</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </form>
<% elsif logged_in?%>
You've already posted a review for this song!
<% else %>
  Please <a href="/login">login</a> if you'd like to review a song.
<% end %>

<p>
<a href="/songs">Back to all songs</a>
</p>

<h3>All reviews</h3>
<p>
<table class="table">
  <tr>
    <th>Rating</th>
    <th>Review</th>
    <th>Posted by</th>
    <th>Posted at</th>
    <th>Delete</th> 
  </tr>
    <!-- TODO: maybe make delete conditionally viewed? -->
  <% @song.reviews.sort { |a,b| b.created_at <=> a.created_at }.each do |review| %>
  <tr>
    <td><%= review.rating %></td>
    <td><%= review.content %></td>
    <td><%= review.user.email %></td>
    <td><%= review.created_at %></td>
    <td><% if review.user_id == current_user.id %>
      <a href="/delete_review?dr=<%= review.id %>"><button>Delete</button></a>
    <% end %></td>
  </tr>
  <% end %>
</table>
</p>


<h3>Other songs from this author</h3>
<p>
<ul>
<% Song.where.not(id: @song.id).where(author: @song.author).each do |result| %>
  <li> <%= result.title %> </li>
  <% end %>
</p>
