<h1><%= @song.title %></h1>

<p>
  Author: <%= @song.author %>
</p>

<p>
  Posted at: <%= @song.created_at %>
</p>

<% if @song.user %><p>
  Posted by: <%= @song.user.email %>
</p><% end %>

<% if current_user %>
  <h3>Post a review</h3>
  <form method="post" action="/add_review?song=<%= @song.id%>">
    <div class="form-group">
      <textarea class="form-control" id="review" name="content" rows="3"></textarea>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </form>
<% else %>
  Please <a href="/login">login</a> if you'd like to review a song.
<% end %>

<p>
<a href="/songs">Back to all songs</a>
</p>

<h3>All reviews</h3>
<p>

<ul>
<% @song.reviews.sort { |a,b| b.created_at <=> a.created_at }.each do |review| %>
  <li> <%= review.content %> </li>
  <% end %>
</ul>
</p>

<h3>Other songs from this author</h3>
<p>
<ul>
<% Song.where.not(id: @song.id).where(author: @song.author).each do |result| %>
  <li> <%= result.title %> </li>
  <% end %>
</p>
